#product {

    .header {

        .product-image {
            overflow: hidden;
            width: 56px;
            min-width: 56px;
            max-width: 56px;
            height: 56px;
            min-height: 56px;
            max-height: 56px;
            border-radius: 4px;

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

        .subtitle {
            margin: 6px 0 0 0;
        }
    }

    .content {

        .mat-tab-group,
        .mat-tab-body-wrapper,
        .tab-content{
            flex: 1 1 auto;
            max-width: 100%;
        }

        .mat-tab-body-content {
            display: flex;
        }

        .mat-tab-label {
            height: 64px;
        }

        .product-image {
            overflow: hidden;
            width: 128px;
            height: 128px;
            margin-right: 16px;
            margin-bottom: 16px;
            border-radius: 4px;

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

        // Temporary prefix alignment fix
        .mat-form-field-appearance-outline .mat-form-field-prefix,
        .mat-form-field-appearance-outline .mat-form-field-suffix {
            top: 0;
        }
    }

}


.dropzone {
    min-height: 400px;
    min-width: 400px;
    display: table;
    width: 100%;
    background-color: #eee;
    border: dotted 1px #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .info-section {
      display: flex;
      flex-wrap: wrap;
      &__item {
          flex-basis: 100%;

          .file-uploader {
              display: flex;
              align-items: center;
              flex: 1;
              height: 64px;

              button {
                  margin-left: auto
              }

              label {
                display: flex;
                margin: auto;
              }
          }
      }
  }

  .additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
  .select-container{
    margin-top:10px;
  }
  

  .images-in-db {
      ul {
          display: flex;
          flex-wrap: wrap;
          list-style: none;
          padding: 0;
          li {
              position: relative;
              flex: 0 0 25%;

              .delete {
                  position: absolute;
                  top: 20px;
                  right: 20px;
                  background-color: red;
                  color: #fff;
                  padding: 8px 16px;
                  visibility: hidden;
                  opacity: 0;
                  &:hover {
                      cursor: pointer;
                  }
              }

              img {
                  padding: 8px;
              }

              &:hover {
                  .delete {
                      visibility: visible;
                      opacity: 1;
                  }
              }
          }
      }
  }